/* Space out content a bit */
body {
  background: url('http://www.cs.helsinki.fi/u/laxlax/hehe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-bottom: 300px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid gray;
}

.alert {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px;
  border-color: #000080;
  border-radius: 4px;
  background-color: #000080;
  color: white; 
}

.glyphicon {
  padding-right: 7px;
}

.text-muted{
    margin-top: 15px;
    line-height: 40px;
    background: black;
    text-align: center;
  }
/* Make the masthead heading the same height as the navigation */

.col-md-4, .col-md-8 {
  margin-top: 75px;
  height: 100%;
}

.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:focus {
  background-color: black;
  border-color: black;
}
.btn-danger, .btn-danger:active, .btn-danger:hover, .btn-danger:focus {
  background-color: white;
  border-color: black;
  color: black;
}
/* Custom page footer */

.navbar-fixed-top {
  color: white;
  height: 75px;
  border-top: 1px solid white;
  background: black;
  border-top: 1px solid gray;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  border: black;
  color: black;
}

/* Customize container */
@media (min-width: 650px) {
  .container {
    max-width: 900px;
  }

}


/* Responsive: Portrait tablets and up */
@media (max-width: 651px) {
  /* Remove the padding we set earlier */

  .col-md-4, .col-md-8 {
    margin-top: 80px;
    height: 100%;
  }

  .text-muted{
    margin-top: 15px;
    line-height: 40px;
    background: black;
  }

}
