/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 75px;
  margin-bottom: 75px;
  background: url('http://www.cs.helsinki.fi/u/laxlax/hehe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid gray;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  background: #3D59AB;
}

.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:focus {
  background-color: black;
  border-color: black;
}
.btn-danger, .btn-danger:active, .btn-danger:hover, .btn-danger:focus {
  background-color: white;
  border-color: black;
  color: black;
}
/* Custom page footer */

.navbar-fixed-top {
  color: white;
  height: 75px;
  border-top: 1px solid white;
  background: black;
  border-top: 1px solid gray;
}

.form-control {
  border: black;
  color: black;
}

/* Customize container */
@media (min-width: 900px) {
  .container {
    max-width: 930px;
  }

  .navbar-fixed-bottom {
  color: white;
  height: 75px;
  background: black;
  border-top: 1px solid gray;
  }

}


/* Responsive: Portrait tablets and up */
@media (max-width: 901px) {
  /* Remove the padding we set earlier */
  .navbar-fixed-bottom {
  color: white;
  height: 125px;
  background: black;
  border-top: 1px solid gray;
  }

  body {
    margin-bottom: 125px;
  }

}
