/* Space out content a bit */
body {
  background: url('http://www.cs.helsinki.fi/u/laxlax/hehe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #25383C;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.alert {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px;
  border-color: #1aa3a3;
  border-radius: 4px;
  background-color: #1aa3a3;
  color: white; 
}


.text-muted{
    margin-top: 15px;
    line-height: 40px;
    background: transparent;
    text-align: center;
    color: black;
    font-size: 35px; 
  }
/* Make the masthead heading the same height as the navigation */

.col-md-4, .col-md-8 {
  margin-top: 35px;
  height: 100%;
  color: #25383C;
}

.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:focus {
  background-color: #00d2ff;
  border-color: #00d2ff;
  margin-right: 3px;
}
.btn-danger, .btn-danger:active, .btn-danger:hover, .btn-danger:focus {
  background-color: #86becb;
  border-color: #86becb;
  color: white;
  margin-left: 3px;
}
/* Custom page footer */

.navbar-fixed-top {
  color: white;
  height: 75px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  border: black;
  color: black;
}

/* Customize container */
@media (min-width: 650px) {
  .container {
    max-width: 900px;
  }

}


/* Responsive: Portrait tablets and up */
@media (max-width: 651px) {
  /* Remove the padding we set earlier */

  .col-md-4, .col-md-8 {
    margin-top: 80px;
    height: 100%;
    color: #25383C;
  }

  .text-muted{
    margin-top: 15px;
    line-height: 40px;
    background: transparent;
    color: black;
  }

}
